:root {
    --my-grey: rgb(99, 99, 99);
}

* {
    box-sizing: border-box;
    font-family: 'Anek Devanagari', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    opacity: .5;
}

/* START OF HAMBURGER */
.menu-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5vw;
    top: 5vh;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 10000;
}

.menu-btn_burger {
    width: 30px;
    height: 3px;
    left: 5vw;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    z-index: 10000;
    cursor: pointer;
}

.menu-btn_burger::before, .menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    z-index: 10000;
}

.menu-btn_burger::after {
    transform: translateY(10px);
    z-index: 10000;
}
.menu-btn_burger::before {
    transform: translateY(-10px);
    z-index: 10000;
}
/* ANIMATION */
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    z-index: 10000;
}
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    z-index: 10000;
}
.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
    z-index: 10000;
}
/* END OF HAMBURGER */

/* Nav Menu START */
.overlay {
    background-color: whitesmoke;
    border-right: 5px solid black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    transition: all .6s .6s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
}

.overlay.active {
    background-color: whitesmoke;
    left: 0vw;
    transition: all .4s;
    z-index: 1000;
}

.overlay.active .nav-bar ul li {
    left: 0;
    opacity: 1;
    transition: all .7s;
    transition-delay: .5s;
}

.nav-bar {
    padding-left: 5vw;
}

.nav-bar ul li {
    position: relative;
    top: 0;
    left: -50px;
    opacity: 0;
    transition: all .7s;
}

.nav-bar ul li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
    display: block;
    padding-bottom: 2rem;
    opacity: 1;
    transition: all .4s;
}

.nav-bar ul li a:hover {
    color: var(--my-grey);
    transition: all .3s;
}
/* Nav Menu END */

.bodyText {
    display: flex;
}

.headingText {
    text-align: right;
    position: fixed;
    left: 80vw;
    top: 33vh;
    font-size: 1.3vw;
    display: none;
}

/* Projects START */
.project-track {
    display: flex;
    flex-direction: column;
    gap: 4vmin;
    position: absolute;
    top: 10%;
    left: 20vw;
}

.project-track .image {
    width: 50vw;
    height: 56vh;
    object-fit: cover;
    object-position: 100% 0%;
    filter: brightness(100%);
    transition: all .6s;
}

.project-track .image:hover {
    filter: brightness(75%);
    transition: all .4s;
    cursor: pointer;
}
/* Project END */

/* ABOUT PAGE */
/* about body START */
.aboutText {
    margin-left: 28vw;
    margin-top: 15vh;
    width: 45vw;
}
.aboutText h1 {
    font-size: 3.5rem;
    margin-bottom: 15vh;
}
.aboutText h2 {
    font-size: 3rem;
    margin-top: 25vh;
    margin-bottom: 1vh;
}
.aboutText h3 {
    font-size: 2rem;
    margin-left: 5vw;
}
.aboutText h4 {
    font-size: 2rem;
    margin-bottom: 5vh;
}
.aboutText p {
    color: rgb(99, 99, 99);
    opacity: .9;
    margin-left: 5vw;
    margin-bottom: 15vh;
}

.aboutText .dateText {
    margin-bottom: 7vh;
}

/* CONTACT PAGE */
.form {
    margin-left: 28vw;
    margin-top: 10vh;
    width: 85vmin;
}

input, textarea {
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-width: 2px;
    background-color: whitesmoke;
    margin-bottom: 10vh;
    width: 15vw;
    height: 5vh;
    filter: brightness(100%);
    transition: all .3s;
}
input:hover, textarea:hover {
    filter: brightness(90%);
    transition: all .2s;
}
textarea {
    width: 40vw;
    height: 10vh;
}

#contactHeader {
    font-size: 3.5rem;
    margin-bottom: 10vh;
}

.name, .emailSub {
    display: flex;
    left: 0;
}

#subject {
    width: 20vw;
}

#email, #firstname {
    margin-right: 5vw;
}

#formBtn {
    padding: 5px;
    filter: brightness(100%);
    transition: all .3s;
}
#formBtn:hover {
    filter: brightness(90%);
    transition: all .2s;
}

/* WEBSITES PAGE */
.backBtn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15vw;
    top: 5vh;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.header a:hover {
    color: var(--my-grey);
}

.websiteImg {
    position: absolute;
    left: 28%;
    top: 10%;
}
.websiteImg img {
    width: 30vw;
    object-fit: cover;
    object-position: 100% 0%;
}
.websiteText {
    text-align: right;
    position: fixed;
    right: 15vw;
    top: 33vh;
    width: 25vw;
}
.websiteText h1, .websiteText h2, .websiteText p {
    text-align: right;
}
.comingSoon{
    text-align: center;
    margin-top: 35vh;
}
.comingSoon h1{
    font-size: 3rem;
}
.comingSoon h2 {
    font-size: 2.5rem;
}

@media (min-width: 700px) {

    .headingText {
        display: block;
    }

}
/* end of tablet */

@media (min-width: 1000px) {
/* nav bar */
    .overlay {
        width: 12vw;
        height: 100vh;
        top: 0;
        left: -100vw;
    }
    .overlay.active {
        left: 0vw;
    } 
    .overlay.active .nav-bar ul li {
        left: 0;
    }
    
    .nav-bar {
        padding-left: 15vw;
    }

    .headingText {
        left: 75vw;
        font-size: 1vw;
    }

    .menu-btn {
        left: 15vw;
    }

    .project-track {
        left: 28vw;
    }
    .project-track .image {
        width: 45vw;
        height: 56vh;
    }

}
/* end of laptop */

@media (min-width: 1200px) {


}
/* end of desktop */